<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <!-- Log in form section -->
    <section class="edit-customer">
        <form class="new-customer-form" id="form" action="/customers/<%= customer._id %>?_method=PUT" method="POST">
            <figure class="logo-container">
                <img class="login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure>
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" class="customer-form" value="<%= customer.name %>">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="number" id="phone" name="phone" class="customer-form" value="<%= customer.phone %>">
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" class="customer-form" value="<%= customer.email %>">
            </div>
            <div class="form-group">
                <label for="address">Home Address:</label>
                <input type="text" id="address" name="address" class="customer-form" value="<%= customer.address %>">
            </div>
            <div class="form-group">
                <label for="oven">Oven Type:</label>
                <input type="text" id="oven" name="oven" class="customer-form" value="<%= customer.oven %>">
            </div>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" class="customer-form notes"><%= customer.notes %></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Customer" class="submit-btn">
                <button class="back-btn"><a href="/customers/<%= customer._id %>">Back to Customer</a></button>
            </div>
        </form>  
    </section>

<%- include("partials/footer") %>