<%- include("partials/header") %>
<%- include("partials/navbar") %>

<% customer.forEach(cust => { %>
    <section class="customer-card">
        <article class="c-name">
            <p>Name: <%= cust.name %></p>
        </article>

        <article class="c-name">
            <p>Country Code: <%= customer.code %></p>
        </article>
    
        <article class="c-name">
            <p>Telephone: <%= cust.phone %></p>
        </article>
    
        <article class="c-name">
            <p>Email: <%= cust.email %></p>
        </article>
    
        <article class="c-name">
            <p>Address: <%= cust.address %></p>
        </article>
    
        <article class="c-name">
            <p>Oven Type: <%= cust.oven %></p>
        </article>

        <article class="c-name">
            <p>Price: <%= cust.price %></p>
        </article>

        <article class="c-name">
            <p>Time of booking: <%= cust.time %></p>
        </article>

        <article class="c-name">
            <p>Date of booking: <%= cust.date %></p>
        </article>
    
        <article class="c-name">
            <p>Date added: <%= cust.dateAdded %></p>
        </article>
    
        <article class="c-name">
            <p>Date of reminder: <%= cust.chaseDate %></p>
        </article>
    
        <article class="c-name">
            <p>Notes: <%= cust.notes %></p>
        </article>
    
        <article class="buttons">
            <button class="edit-btn"><a href="/customers/<%= cust._id %>/edit">Edit</a></button>
            <form action="/customers/<%= cust._id %>?_method=DELETE" method="POST">
                <input type="submit" class="delete-btn" value="Delete">
            </form>
            <button class="back-btn"><a href="/customers">Home</a></button>
        </article>
    </section>

<% }) %>


<%- include("partials/footer") %>