<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section class="customer-card">
    <article class="c-name">
        <p>Name: <%= customer.name %></p>
    </article>

    <article class="c-name">
        <p>Telephone: <%= customer.phone %></p>
    </article>

    <article class="c-name">
        <p>Email: <%= customer.email %></p>
    </article>

    <article class="c-name">
        <p>Address: <%= customer.address %></p>
    </article>

    <article class="c-name">
        <p>Oven Type: <%= customer.oven %></p>
    </article>

    <article class="c-name">
        <p>Date added: <%= customer.dateAdded %></p>
    </article>

    <article class="c-name">
        <p>Date of reminder: <%= customer.chaseDate %></p>
    </article>

    <article class="c-name">
        <p>Notes: <%= customer.notes %></p>
    </article>

    <article class="buttons">
        <button class="edit-btn"><a href="/customers/<%= customer._id %>/edit">Edit Record</a></button>
        <form action="/customers/<%= customer._id %>?_method=DELETE" method="POST">
            <input type="submit" class="delete-btn" value="Delete Record">
        </form>
        <button class="back-btn"><a href="/customers">Back to Database</a></button>
    </article>
</section>

<%- include("partials/footer") %>