<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<section class="customer-card">
    <article class="c-name">
        <p>Name: <%= reminder.name %></p>
    </article>

    <article class="c-name">
        <p>Country Code: <%= reminder.code %></p>
    </article>

    <article class="c-name">
        <p>Telephone: 0<%= reminder.phone %></p>
    </article>

    <article class="c-name">
        <p>Address: <%= reminder.address %></p>
    </article>

    <article class="c-name">
        <p>Post Code: <%= reminder.post %></p>
    </article>

    <article class="c-name">
        <p>Job Type: <%= reminder.type %></p>
    </article>

    <article class="c-name">
        <p>Price: £<%= reminder.price %></p>
    </article>

    <article class="c-name">
        <p>Time of booking: <%= reminder.time %></p>
    </article>

    <article class="c-name">
        <p>Date of booking: <%= reminder.date %></p>
    </article>

    <article class="c-name">
        <p>Technician Assigned: <%= reminder.tech %></p>
    </article>

    <article class="c-name">
        <input type="color" name="color" value="<%= reminder.color %>" class="customer-form color" disabled>
    </article>

    <article class="c-name">
        <p>Technician Email: <%= reminder.email %></p>
    </article>

    <article class="c-name">
        <p>Date to chase customer: <%= reminder.chaseDate %></p>
    </article>

    <article class="c-name">
        <p>Job Details:</p> <%= reminder.details %></p>
    </article>

    <article class="buttons">
        <form action="/reminders/<%= reminder._id %>?_method=DELETE" method="POST">
            <input type="submit" class="delete-btn" value="Reminder Actioned">
        </form>
        <a class="back-btn" href="/reminders">Reminders</a>
        <a class="add-btn search-btn" href="/menu">Main Menu</a>
    </article>
</section>

<%- include("../partials/footer") %>