<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<% bookings.forEach(booking => { %>
    <section class="customer-card">
        <article class="c-name">
            <p>Name: <%= booking.name %></p>
        </article>

        <article class="c-name">
            <p>Country Code: <%= booking.code %></p>
        </article>
    
        <article class="c-name">
            <p>Telephone: <%= booking.phone %></p>
        </article>
    
        <article class="c-name">
            <p>Address: <%= booking.address %></p>
        </article>
    
        <article class="c-name">
            <p>Job Type: <%= booking.type %></p>
        </article>

        <article class="c-name">
            <p>Price: £<%= booking.price %></p>
        </article>

        <article class="c-name">
            <p>Time of booking: <%= booking.time %></p>
        </article>

        <article class="c-name">
            <p>Date of booking: <%= booking.date %></p>
        </article>

        <article class="c-name">
            <p>Technician Assigned: <%= booking.tech %></p>
        </article>

        <article class="c-name">
            <input type="color" name="color" value="<%= booking.color %>" class="customer-form color" disabled>
        </article>

        <article class="c-name">
            <p>Technician Email: <%= booking.email %></p>
        </article>
    
        <article class="c-name">
            <p>Date added: <%= booking.dateAdded %></p>
        </article>
    
        <article class="c-name">
            <p>Date of reminder: <%= booking.chaseDate %></p>
        </article>
    
        <article class="c-name">
            <p>Job Details: <%= booking.details %></p>
        </article>
    
        <article class="buttons">
            <button class="edit-btn"><a href="/bookings/<%= booking._id %>/edit">Edit</a></button>
            <form action="/bookings/<%= booking._id %>?_method=DELETE" method="POST">
                <input type="submit" class="delete-btn" value="Complete Booking">
            </form>
            <button class="back-btn"><a href="/bookings">Diary</a></button>
            <button class="add-btn search-btn"><a href="/menu">Main Menu</a></button>
        </article>
    </section>

<% }) %>


<%- include("../partials/footer") %>