<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<section class="customer-view">
    <article class="heading-bar">
        <div class="heading">
            <h1>Customer Database Portal</h1>
        </div>
        <div class="add">
            <a class="add-btn" href="/customers/new">Add record</a>
            <a class="add-btn search-btn" href="/customers/search">Search</a>
            <a class="add-btn search-btn" href="/menu">Main Menu</a>
        </div>
    </article>

    <article class="database-view">

        <% customers.forEach(customer => { %>
            <div class="card">
                <p class="client-name">Name: <%= customer.name %></p>
                <p class="client-phone">Phone: 0<%= customer.phone %></p>
                <!-- <p class="client-email">Email: <%= customer.email %></p> -->
                <p class="client-added">Address: <%= customer.address %></p>
                <a class="view-btn" href="/customers/<%= customer._id %>">View Customer</a>
            </div>

        <% }) %>

        <!-- Dummy cards -->
        <!-- <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div>

        <div class="card">
            <p class="client-name">Test Testison</p>
            <p class="client-phone">Phone: 07837 737 383</p>
            <p class="client-email">Email: test_testison@test.com</p>
            <p class="client-added">Date added: 03/07/20</p>
            <button class="view-btn">View Customer</button>
        </div> -->

    </article>
</section>

<%- include("../partials/footer") %>